<section class="about-section section-padding" id="about">
  <div class="about-heading text-center">
    <p class="light-gray-color font-medium">A word from our Creators</p>
    <h3 class="primary-color font-medium">ABOUT FITNESS</h3>
  </div>
  <div class="about-carousel mt-5">
    <carousel [showIndicators]="false" [isAnimated]="true">
      <slide>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 about-img w-100">
            <img src="../../assets/images/aboutus.jpg" alt="About">
          </div>
          <div class="col-12 col-md-6 col-lg-6 about-info-main">
            <div class="text-center about-content white-color">
              <p class="h6 font-normal mb-4">“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries”</p>
              <h6 class="mb-3">Rohit Chattopadhyay</h6>
              <div class="d-flex justify-content-center align-item-center">
                <a href="#!" target="_blank" title="Facebook" class="mr-2">
                  <img src="../../assets/images/facebook-small.png" class="img-fluid" alt="Facebook">
                </a>
                <a href="#!" target="_blank" title="Facebook">
                  <img src="../../assets/images/twitter-small.png" class="img-fluid" alt="Twitter">
                </a>
              </div>
            </div>
          </div>
        </div>
      </slide>
      <slide>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 about-img w-100">
            <img src="../../assets/images/aboutus.jpg" alt="About">
          </div>
          <div class="col-12 col-md-6 col-lg-6 about-info-main">
            <div class="text-center about-content white-color">
              <p class="h6 font-normal mb-4">“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries”</p>
              <h6 class="mb-3">Rohit Chattopadhyay</h6>
              <div class="d-flex justify-content-center align-item-center">
                <a href="#" target="_blank" title="Facebook" class="mr-2">
                  <img src="../../assets/images/facebook-small.png" class="img-fluid" alt="Facebook">
                </a>
                <a href="#" target="_blank" title="Facebook">
                  <img src="../../assets/images/twitter-small.png" class="img-fluid" alt="Twitter">
                </a>
              </div>
            </div>
          </div>
        </div>
      </slide>
      <slide>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 about-img w-100">
            <img src="../../assets/images/aboutus.jpg"  alt="About">
          </div>
          <div class="col-12 col-md-6 col-lg-6 about-info-main w-100">
            <div class="text-center white-color about-content">
              <p class="h6 font-normal mb-4">“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries”</p>
              <h6 class="mb-3">Rohit Chattopadhyay</h6>
              <div class="d-flex justify-content-center align-item-center">
                <a href="#" target="_blank" title="Facebook" class="mr-2">
                  <img src="../../assets/images/facebook-small.png" class="img-fluid" alt="Facebook">
                </a>
                <a href="#" target="_blank" title="Facebook">
                  <img src="../../assets/images/twitter-small.png" class="img-fluid" alt="Twitter">
                </a>
              </div>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</section>