<section class="query-section section-padding" id="contact">
  <div class="container">
    <div class="query-heading text-center mb-5">
      <h3 class="primary-color font-medium">HAVE A QUERY?</h3>
      <p class="dark-color font-normal">Please fill out the quick form and we will be in touch with you at the earliest
      </p>
    </div>
    <div class="query-form">
      <form>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Name" fromControlName="name">
          </div>
          <div class="col-md-6 mb-4">
            <input type="text" class="form-control" placeholder="Email" fromControlName="email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control" style="resize: none;" id="message" rows="3"
                placeholder="Tell us what you are looking for"></textarea>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-primary py-2 px-5 submit-btn">submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- query-form swection end -->

<!-- map start -->
<div class="map">
  <div class="desktopMap">
    <img src="../../assets/images/layer-5@2x.png"  width="100%" alt="Map" />
  </div>
  <div class="mobileMap">
    <img src="../../assets/images/layer-5@3x.png"  width="100%" alt="Map" />
  </div>
</div>
<!-- map end -->