.gallery-section { padding: 80px 0; } 
.tab-links li a { font-size: 14.5px; font-weight: 300; color: #676767; font-family: 'Roboto-regular'; letter-spacing: 1.45px; padding-bottom: 5px; transition: 0.5s linear; } 
.tab-links { margin-bottom: 30px; } 
.tab-links li.active {border-bottom: 2px solid #11b4e5; } 
.tab-links li.active a {color: #11b4e5;  font-weight: 500; }
.tab-links li a:hover { color: #11b4e5; } 
.gallery-images-main .gallery-img { position: relative; overflow: hidden; height: 250px; margin: 20px 0; width: auto; max-width: 550px; } 
.gallery-images-main .gallery-img img { overflow: hidden; transition: all 0.5s ease-in-out; } 
.gallery-images-main .gallery-content { position: absolute; bottom: 0; text-align: center; width: 100%; background-color: rgba(0,0,0, 0.85); color: #fff; } 
.gallery-images-main .gallery-content span { display: block; font-size: 12px; font-weight: 500; letter-spacing: 0.6px; text-transform: uppercase; padding: 5px 0; } 
.ply-btn { width: 15%; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.gallery-images-main .gallery-img img:hover { transform: scale(1.09) rotate(.90deg); } 



@media (max-width: 992px){
 .gallery-section .container { overflow-x: scroll; } 
 .gallery-section .container .gallery-img-main { width: 1100px; margin: auto; } 
 .gallery-section .container .row { flex-wrap: nowrap; } 
 .gallery-img img { min-width: 300px; height: 100%; } 
 }
 
@media (max-width: 768px){
 .gallery-section { padding: 40px 0; } 
 }