.banner-section { width: 100%; background: url('../../assets/images/banner.jpg') center/cover no-repeat; position: relative; padding: 23% 0 18% 0;} 
.banner-content { text-align: left; max-width: 525px;  position: absolute; top: 20%; left: 6%} 
.banner-content h1 { font-size: 90px; font-weight: 500; letter-spacing: 6.75px; } 
.banner-content h1 span { font-size: 60px; font-weight: 100; letter-spacing: 3px; opacity: 0.78; } 
.banner-content p { font-size: 24px; font-weight: 400; letter-spacing: 1.2px; } 

/* header styling */
header { transition: all 0.5s ease-in-out; } 
header.sticky { width: 100%; position: fixed; top: 0; left: 0; z-index: 999; transition:all 0.5s ease-in-out; box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4); } 


@media (max-width: 786px) {
  header { width: 100%; position: absolute; top: 0; left: 0; box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4); } 
  .banner-content {max-width: 258px;}
 .banner-content h1 { font-size: 28px; } 
 .banner-content h1 span { font-size: 18px; } 
 .banner-content p { font-size: 11px; } 
}