<footer>
  <div class="container">
    <div class="row top-footer justify-content-between">
      <div class="col-12 col-md-7">
        <ul class="d-flex align-items-center footer-contact-info flex-wrap m-0">
          <li>
            <a href="#!" title="Lorem ipsum dolor sit amet">
              <img src="../../../assets/images/location.png" class="img-fluid" alt="">
              <span class="p font-medium dark-color ml-2">Lorem ipsum dolor sit amet</span>
            </a>
          </li>
          <li>
            <a href="tel:+919898989898" title="+91 9898989898">
              <img src="../../../assets/images/phone (1).png" class="img-fluid" alt="">
              <span class="p font-medium dark-color ml-2">+91 9898989898</span>
            </a>
          </li>
          <li>
            <a href="mailto:recomp@fitness.com" title="recomp@fitness.com">
              <img src="../../../assets/images/directions.png" class="img-fluid" alt="">
              <span class="p font-medium dark-color ml-2">recomp@fitness.com</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2 footer-social-icon">
        <div class="social-icons">
          <a href="#!" target="_blank" class="mr-2">
            <img src="assets/images/facebook.png" alt="Facebook" class="img-fluid" />
          </a>
          <a href="#!" target="_blank" class="mr-2">
            <img src="assets/images/twitter.png" alt="Twitter" class="img-fluid" />
          </a>
          <a href="#!" target="_blank">
            <img src="assets/images/ico-gplus.png" alt="Twitter" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-3 footer-gicons">
        <div class="google-icons">
          <a href="#!" target="_blank" class="mr-2">
            <img src="assets/images/app-store.png" alt="app-store" class="img-fluid" />
          </a>
          <a href="#!" target="_blank">
            <img src=" assets/images/play-store.png" alt="Play Store" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-footer d-flex justify-content-between">
      <p class="gray-color">Copyright &copy; 2018 Fitness All Rights Reserved.</p>
      <div class="top" (click)="goToTop()" *ngIf="topBtn">
        <a href="#!" title="Bak To Top" class="backToTop">></a>
      </div>
    </div>
  </div>
</footer>